.header {
    @include clearfix;
    text-align: center;
}

.logo {
    height: 150px;
    margin: 0 auto;
    padding: rem($base-spacing-unit / 2) rem($base-spacing-unit) 0;

    a {
        display: inline-block;
        width: 100%;
    }
}

.logo-svg {
    width: 100%;
    height: auto;
}